<style type="text/css">
body {background:#312F32;}
#nav,#content,#login,footer {display:none;}
.jumbotron {width:60%;margin:0 auto;padding-top:100px;background:#312F32;color:#d6d5d6;}
.jumbotron h1 {color:#fff;}
h1 {margin-bottom:30px;}
</style>
<div class="jumbotron">
    <h1>您在使用IE或IE内核的浏览器？</h1>
    <h1>抱歉，系统不再对IE进行支持！</h1>
    <p>微软官方于2015.3.18证实，IE品牌将会就此终结，取而代之的是Win10内置的新版浏览器“Project Spartan”；</p>
    <p>微软都这么讨厌IE，我们也没什么好留念的！</p>
    <p>为了更好的用户体验，建议您下载使用以下浏览器：</p>
    <p>
    <a class="btn btn-danger btn-lg" href="http://rj.baidu.com/soft/detail/14744.html" target="_blank" role="button">Chrome</a>
    <a class="btn btn-danger btn-lg" href="http://www.firefox.com.cn/download/" target="_blank" role="button">Firefox</a>
    <a class="btn btn-danger btn-lg" href="http://chrome.360.cn/" target="_blank" role="button">360极速</a>
    <a class="btn btn-danger btn-lg" href="http://ie.sogou.com/index.html" target="_blank" role="button">搜狗</a>
    </p>
</div>