<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.CheckbillTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.CheckbillTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_node_id" property="processNodeId" jdbcType="INTEGER" />
    <result column="check_item" property="checkItem" jdbcType="VARCHAR" />
    <result column="check_item_property" property="checkItemProperty" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isqualified" property="isqualified" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
   <result column="flag" property="flag" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_node_id, check_item, check_item_property, remark, isqualified, sort,flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkbill_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkbill_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.CheckbillTemplate" >
    insert into checkbill_template (id, process_node_id, check_item, 
      check_item_property, remark, isqualified, 
      sort,flag)
    values (#{id,jdbcType=INTEGER}, #{processNodeId,jdbcType=INTEGER}, #{checkItem,jdbcType=VARCHAR}, 
      #{checkItemProperty,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{isqualified,jdbcType=BIT}, 
      #{sort,jdbcType=TINYINT}, #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.CheckbillTemplate" >
    insert into checkbill_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processNodeId != null" >
        process_node_id,
      </if>
      <if test="checkItem != null" >
        check_item,
      </if>
      <if test="checkItemProperty != null" >
        check_item_property,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isqualified != null" >
        isqualified,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processNodeId != null" >
        #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="checkItem != null" >
        #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="checkItemProperty != null" >
        #{checkItemProperty,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isqualified != null" >
        #{isqualified,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.CheckbillTemplate" >
    update checkbill_template
    <set >
      <if test="processNodeId != null" >
        process_node_id = #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="checkItem != null" >
        check_item = #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="checkItemProperty != null" >
        check_item_property = #{checkItemProperty,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isqualified != null" >
        isqualified = #{isqualified,jdbcType=BIT},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.CheckbillTemplate" >
    update checkbill_template
    set process_node_id = #{processNodeId,jdbcType=INTEGER},
      check_item = #{checkItem,jdbcType=VARCHAR},
      check_item_property = #{checkItemProperty,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      isqualified = #{isqualified,jdbcType=BIT},
      flag = #{flag,jdbcType=BIT},
      sort = #{sort,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCheckbillTsByProcNodeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select * from checkbill_template where process_node_id = #{procNodeId,jdbcType=INTEGER} order by sort
  </select>
    <select id="selectMaxSort" resultType="java.lang.Byte" parameterType="java.lang.Integer">
    select IFNULL(max(sort)+1,0) from checkbill_template where process_node_id = #{procNodeId,jdbcType=INTEGER}
  </select>
</mapper>