<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.ManpowerTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.ManpowerTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_node_id" property="processNodeId" jdbcType="INTEGER" />
    <result column="project_team" property="projectTeam" jdbcType="VARCHAR" />
    <result column="standard_model" property="standardModel" jdbcType="DECIMAL" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
     <result column="flag" property="flag" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_node_id, project_team, standard_model, sort,flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manpower_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manpower_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.ManpowerTemplate" >
    insert into manpower_template (id, process_node_id, project_team, 
      standard_model, sort,flag)
    values (#{id,jdbcType=INTEGER}, #{processNodeId,jdbcType=INTEGER}, #{projectTeam,jdbcType=VARCHAR}, 
      #{standardModel,jdbcType=DECIMAL}, #{sort,jdbcType=TINYINT}, #{sort,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.ManpowerTemplate" >
    insert into manpower_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processNodeId != null" >
        process_node_id,
      </if>
      <if test="projectTeam != null" >
        project_team,
      </if>
      <if test="standardModel != null" >
        standard_model,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processNodeId != null" >
        #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="projectTeam != null" >
        #{projectTeam,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null" >
        #{standardModel,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.ManpowerTemplate" >
    update manpower_template
    <set >
      <if test="processNodeId != null" >
        process_node_id = #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="projectTeam != null" >
        project_team = #{projectTeam,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null" >
        standard_model = #{standardModel,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.ManpowerTemplate" >
    update manpower_template
    set process_node_id = #{processNodeId,jdbcType=INTEGER},
      project_team = #{projectTeam,jdbcType=VARCHAR},
      standard_model = #{standardModel,jdbcType=DECIMAL},
      sort = #{sort,jdbcType=TINYINT},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectManpowerTsByprocNodeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select * from manpower_template where process_node_id = #{procNodeId,jdbcType=INTEGER} order by sort
  </select>
  <select id="selectMaxSort" resultType="java.lang.Byte" parameterType="java.lang.Integer">
    select IFNULL(max(sort)+1,0) from manpower_template where process_node_id = #{procNodeId,jdbcType=INTEGER}
  </select>
</mapper>