<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.ProcessMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.Process">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="BIT" />
    <collection property="projList" ofType="com.cyou.gr.entity.Project" columnPrefix="proj_">
	    <id property="id" column="id"/>
	    <result property="name" column="name"/>
	    <result property="releaseLine" column="release_line"/>
	    <collection property="projNodeList" ofType="com.cyou.gr.entity.ProNode" columnPrefix="projn_">
		    <id property="id" column="id"/>
		    <result property="projectId" column="project_id"/>
		    <result property="processNodeId" column="process_node_id"/>
		    <result property="status" column="status" />
			<result property="isNormal" column="is_normal"/>
			<result property="currentProgressDesc" column="cp_desc"/>
		    <association property="processNode" javaType="com.cyou.gr.entity.ProcessNode" columnPrefix="procn_">
			    <id property="id" column="id"/>
			    <result property="name" column="name"/>
			    <result property="processType" column="type"/>
			    <result property="flag" column="flag"/>
			</association>
			<collection property="feeList" ofType="com.cyou.gr.entity.Fee" columnPrefix="fee_">
				<id property="id" column="id"/>
			    <result column="pro_node_id" property="proNodeId"/>
			    <result column="fee_template_id" property="feeTemplateId"/>
			    <result column="money" property="money"/>
			    <result column="display" property="display"/>
			    <association property="feeTemplate" javaType="com.cyou.gr.entity.FeeTemplate" columnPrefix="temp_">
				    <id property="id" column="id"/>
				    <result property="name" column="name"/>
				    <result property="sort" column="sort"/>
				    <result property="flag" column="flag"/>
				</association>
			</collection>
  		</collection>
  	</collection>
<!--     <collection property="procNodeList" ofType="ProcessNode"> -->
<!-- 	    <id property="id" column="procNodeId"/> -->
<!-- 	    <result property="name" column="procNodeName"/> -->
<!--   	</collection> -->
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sort, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectProcessList" resultMap="BaseResultMap" >
    select  
    proc.*
    ,proj.id proj_id,proj.name proj_name,proj.release_line proj_release_line
<!--     ,procn.id procNodeId,procn.name procNodeName -->
    ,projn.id proj_projn_id ,projn.project_id proj_projn_project_id ,projn.process_node_id proj_projn_process_node_id
    ,projn.status proj_projn_status,projn.is_normal proj_projn_is_normal,projn.current_progress_desc proj_projn_cp_desc
   	,procn1.id proj_projn_procn_id,procn1.name proj_projn_procn_name,procn1.process_type proj_projn_procn_type
   	,f.id proj_projn_fee_id, f.pro_node_id proj_projn_fee_pro_node_id, f.fee_template_id proj_projn_fee_fee_template_id,f.money proj_projn_fee_money, f.display proj_projn_fee_display
   	,ft.id proj_projn_fee_temp_id, ft.name proj_projn_fee_temp_name, ft.sort proj_projn_fee_temp_sort, ft.flag proj_projn_fee_temp_flag
    from process proc 
    left join project proj on proj.process_id=proc.id
<!--     left join process_node procn on procn.process_id=proc.id -->
    left join pro_node projn on projn.project_id=proj.id 
    left join process_node procn1 on procn1.id=projn.process_node_id
    left join fee f on f.pro_node_id=projn.id
    left join fee_template ft on ft.id=f.fee_template_id
    <if test="flag != null" >
        where proc.flag = #{flag,jdbcType=BIT}
    </if>
    order by proc.sort,proj.sort,procn1.sort
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.Process" >
    insert into process (id, name, sort, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.Process" >
    insert into process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.Process" >
    update process
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.Process" >
    update process
    set name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectMaxSort" resultType="java.lang.Integer">
    select IFNULL(max(sort)+1,0) from process
  </select>
</mapper>