<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.Project" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="process_id" property="processId" jdbcType="INTEGER" />
    <result column="release_line" property="releaseLine" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="flag" property="flag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, process_id, release_line, sort, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.Project" >
    insert into project (id, name, process_id, 
      release_line, sort, flag)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{processId,jdbcType=INTEGER}, 
      #{releaseLine,jdbcType=CHAR}, #{sort,jdbcType=TINYINT}, #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="releaseLine != null" >
        release_line,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="releaseLine != null" >
        #{releaseLine,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.Project" >
    update project
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="processId != null" >
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="releaseLine != null" >
        release_line = #{releaseLine,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.Project" >
    update project
    set name = #{name,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=INTEGER},
      release_line = #{releaseLine,jdbcType=CHAR},
      sort = #{sort,jdbcType=TINYINT},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectProList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where flag=1 order by sort
  </select>
</mapper>