<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.ProNodeMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.ProNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="process_node_id" property="processNodeId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
    <result column="is_normal" property="isNormal" jdbcType="CHAR" />
    <result column="current_progress_desc" property="currentProgressDesc" jdbcType="VARCHAR" />
    <result column="additional_desc" property="additionalDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, process_node_id, status, start_time, end_time, review_time, is_normal, 
    current_progress_desc, additional_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pro_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pro_node
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.ProNode" >
    insert into pro_node (id, project_id, process_node_id, 
      status, start_time, end_time, 
      review_time, is_normal, current_progress_desc, 
      additional_desc)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{processNodeId,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{reviewTime,jdbcType=TIMESTAMP}, #{isNormal,jdbcType=CHAR}, #{currentProgressDesc,jdbcType=VARCHAR}, 
      #{additionalDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.ProNode" >
    insert into pro_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="processNodeId != null" >
        process_node_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="reviewTime != null" >
        review_time,
      </if>
      <if test="isNormal != null" >
        is_normal,
      </if>
      <if test="currentProgressDesc != null" >
        current_progress_desc,
      </if>
      <if test="additionalDesc != null" >
        additional_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="processNodeId != null" >
        #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isNormal != null" >
        #{isNormal,jdbcType=CHAR},
      </if>
      <if test="currentProgressDesc != null" >
        #{currentProgressDesc,jdbcType=VARCHAR},
      </if>
      <if test="additionalDesc != null" >
        #{additionalDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.ProNode" >
    update pro_node
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="processNodeId != null" >
        process_node_id = #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewTime != null" >
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isNormal != null" >
        is_normal = #{isNormal,jdbcType=CHAR},
      </if>
      <if test="currentProgressDesc != null" >
        current_progress_desc = #{currentProgressDesc,jdbcType=VARCHAR},
      </if>
      <if test="additionalDesc != null" >
        additional_desc = #{additionalDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.ProNode" >
    update pro_node
    set project_id = #{projectId,jdbcType=INTEGER},
      process_node_id = #{processNodeId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      is_normal = #{isNormal,jdbcType=CHAR},
      current_progress_desc = #{currentProgressDesc,jdbcType=VARCHAR},
      additional_desc = #{additionalDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>