<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyou.gr.dao.TaskBookTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.cyou.gr.entity.TaskBookTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_node_id" property="processNodeId" jdbcType="INTEGER" />
    <result column="quota_name" property="quotaName" jdbcType="VARCHAR" />
    <result column="quta_type" property="qutaType" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_node_id, quota_name, quta_type, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from task_book_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from task_book_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyou.gr.entity.TaskBookTemplate" >
    insert into task_book_template (id, process_node_id, quota_name, 
      quta_type, sort)
    values (#{id,jdbcType=INTEGER}, #{processNodeId,jdbcType=INTEGER}, #{quotaName,jdbcType=VARCHAR}, 
      #{qutaType,jdbcType=CHAR}, #{sort,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cyou.gr.entity.TaskBookTemplate" >
    insert into task_book_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processNodeId != null" >
        process_node_id,
      </if>
      <if test="quotaName != null" >
        quota_name,
      </if>
      <if test="qutaType != null" >
        quta_type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processNodeId != null" >
        #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="quotaName != null" >
        #{quotaName,jdbcType=VARCHAR},
      </if>
      <if test="qutaType != null" >
        #{qutaType,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyou.gr.entity.TaskBookTemplate" >
    update task_book_template
    <set >
      <if test="processNodeId != null" >
        process_node_id = #{processNodeId,jdbcType=INTEGER},
      </if>
      <if test="quotaName != null" >
        quota_name = #{quotaName,jdbcType=VARCHAR},
      </if>
      <if test="qutaType != null" >
        quta_type = #{qutaType,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyou.gr.entity.TaskBookTemplate" >
    update task_book_template
    set process_node_id = #{processNodeId,jdbcType=INTEGER},
      quota_name = #{quotaName,jdbcType=VARCHAR},
      quta_type = #{qutaType,jdbcType=CHAR},
      sort = #{sort,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>